ion-input {
    text-align: left;
    background-color: hsla(191, 86%, 54%, 0.342);
    color: #22caf4;
    width:100%;
    padding:7px;
    margin-top: 10px;
}


div .inputs {
    text-align: center;
    align-content: center;
    margin-top: 20%;
}
.label1{
    margin-top: 10px;
    color: #22caf4;
    text-align: left;
    float: left;

    
}
.label2 {
    margin-top: 10px;
    color: #22caf4;
    text-align: right;
    float: right;
}
.button{
    margin-top: 10px;
}

