<form #loginForm="ngForm" novalidate>
<div class="inputs">
<ion-row><ion-input 
    [(ngModel)]="account.email" 
    type="email" 
    placeholder="E-mail" 
    id="email"
     name="email" 
     #email="ngModel" 
     required
     pattern="[a-z0-9!#$%&'*+/=?^_`{\}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{\}~-]+)*@(?:[a-z0-9](?:[a-z0-9]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"></ion-input>
    </ion-row>
    <div *ngIf="email.invalid && email.dirty">
            <span class="global__input-error">Email addreess is not valid</span>
            </div>
<ion-row><ion-input 
    [(ngModel)]="account.password" 
    type="password" 
    placeholder="Password" 
    name="password" 
    #password="ngModel" 
    required 
    pattern="[a-zA-Z0-9!@#$%^&*]{6,20}$"
    ></ion-input></ion-row>
    <div *ngIf="password.invalid && password.dirty">
            <span class="global__input-error">Password must be at least 6 characters long</span>
    </div>
</div>
<button ion-button full text-capitalize (click)="login()" id="login" [disabled]="loginForm.invalid">Login</button>
<label class="label1">Wachtwoord vergeten</label>
<label class="label2" (click)="navigateToPage('RegisterPage')">Registreer nu!</label>
</form>


