
<ion-header>
        <ion-navbar color="secondary">
        <ion-title>Online Academy</ion-title>
      </ion-navbar>
</ion-header>


<ion-content>
    <ion-row><label>Auteur van de quote:</label></ion-row>
    <ion-input [(ngModel)]="Author" type="text" placeholder="Auteur van de quote" id="auteur"></ion-input>
    <ion-row><label>Quote:</label></ion-row>
    <ion-textarea [(ngModel)]="Quote" type="text" placeholder="Uw quote" id="quote"></ion-textarea>
    <button ion-button block (click)="addQuote(Author,Quote)">Sla quote op</button>


  
      <ion-list *ngIf="Quotes !== null">
        <ion-item  *ngFor="let quotes of Quotes">
          <div class="q" text-wrap>{{quotes.Quote}}</div>
          {{quotes.Auteur}}
          </ion-item>
      </ion-list>

</ion-content>
