page-welcome {

    video{
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
    }
    
    div .buttons {
        margin-top: 60%;
       text-align: center;
    }
    button {
        width: 65%;
        
    }
    button #login {
        background-color:#22caf4;
        
    }
    .logo {
        width: 130px;
        height: 130px;
        display: block;
        margin-top:30%;
    }
}